.Task {
    --task-bgcolor: aqua;
    --task-button-color: #8a6207;
    background-color:var(--task-bgcolor); 
   width: 70%;
   display: flex;
   align-items: center;
   padding: 0 20px 0 20px;
   justify-content: space-between;
   border: 1px solid black;
   margin-bottom: 20px;
}
.ContentText{
    font-size: 40px;
    background-color: var(--task-bgcolor);
    border: 0;
    width: 70%;
    text-align: left;
}
.ContentText:focus{
    outline: none;
}
.CheckBox, .Task button{
    width: 40px;
    height: 40px;
}
.Task button{
    background-color: var(--task-bgcolor);
    font-size: 28px;
    color: var(--task-button-color);
    border: 0;
}
.completed{
    --task-bgcolor:#014f4f; 
    --task-button-color: #e2ff8c;
}